body {
    min-height: 100vh;
    background-color: #000;
    color: white;
}

.botoes {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: fit-content;
}